<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945300180880-rj25vg4q4daftt1i36him65tuo973kcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945300180880-rj25vg4q4daftt1i36him65tuo973kcm</string>
	<key>API_KEY</key>
	<string>AIzaSyBCJgAEvFu-jnEZDR3Bjz1MNtqIwuWdnNY</string>
	<key>GCM_SENDER_ID</key>
	<string>945300180880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.eviseek.workoutTracker</string>
	<key>PROJECT_ID</key>
	<string>workouttracker-a59c9</string>
	<key>STORAGE_BUCKET</key>
	<string>workouttracker-a59c9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945300180880:ios:56201871ae034ad223ed15</string>
</dict>
</plist>